h2{
    font-family: Arial;
}

#container{
    width: 700px;
    margin: 0 auto;
}

#page{
    font-size: 150%;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
}

ul{
    margin: 20px;
    list-style-image: url('../graphics/dancing-duck.gif');
}

li{
    padding: 5px;
    margin-bottom: 2px;
}

img{
    width: 300px;
}

.link{
    color: grey;
    text-decoration: none;
}

.inny_link{
    backdrop-color: black;
}

.jeszcze_inny_link{
    background-color: yellow;
}

#span{
    display: none;
}
#span1{
    display: none;
}
#span2{
    display: none;
}
span{
    font-size: 22px;
}
#container{
    width: 700px;
    margin: 0 auto;
}

#container2{
    width: 700px;
    margin: 0 auto;
}

#zew{
    width: 80%;
    height: 200px;
    margin: 0 auto;
    background-color: #ccccff;
}

#wew{
    width: 60%;
    height: 100px;
    background-color: blue;
    margin: 30px auto;
}